@{
    ViewData["Title"] = "Home Page";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div> *@

<h2 class="display-4">Welcome to Bliss Travels & Tours</h2>
<div class="text-center">
    <img src="~/images/travel.jpg" alt="Travel Image" class="img-fluid" />
    <br>
    <p>Explore exciting destinations with Bliss Travels & Tours.</p>
     <br>
    <p>Go to <a href="/TourManagers/Index"> Tours Panel</a>.</p>
    <p>Go to <a href="/Tourists/Index"> Tourist Panel</a>.</p>

</div>
